<%# <div class="contents row">
  <div class="container">
    <%= form_for @trablog do |form| %>
      <%# <h3>
        投稿する
      </h3>
      <%= form.text_field :name, placeholder: "Nickname" %>
      <%# <%= form.text_area :text, placeholder: "text" , rows: "10" %>
      <%# <%= form.submit "プッシュ" %>
    <%# <% end %>
  <%# </div>
</div> %>


<div class="contents row">
  <%= form_tag('/trablogs', method: :post) do %>
    <h3>
      投稿する
    </h3>
    <input placeholder="Nickname" type="text" name="name">
    <textarea cols="30" name="text" placeholder="text" rows="10"></textarea>
    <input type="submit" value="sent">
  <% end %>
</div>
